<footer class="footer">
  <small>
    <strong><a href="http://www.khalilbugti.com/">This is Examination System</a></strong>
    by <em><a href="http://www.khalilbugti.com/">Khalil Bugti</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Our Page Now",   '#' %></li>
    </ul>
  </nav>
</footer>